# Ignore everything :
*

# Except for the mods directories :
!.gitignore
!config/
!config/*
!config/**
!mods/
!mods/*
!mods/**
!README.md

!options.txt
!optionsof.txt
!optionsshaders.txt

!shaderpacks/*
!shaderpacks/**
!resourcepacks/*
!resourcepacks/**
